{% extends 'base.html' %}

{% block titulo %} Editar cliente {% endblock %}

{% block contenido %}

<h3>Carrito de compras en Django</h3>
<table>
	<tr>
		<td >
			{% include 'menu.html' %}
		</td>

	</tr>
	<tr>
		<td >
			{% include 'info_usuario.html' %}
		</td>
	</tr>
	<tr>
		<td>
			<h3>Editar mi información</h3>
			<div style="width:500px">{% autoescape off %}{{ mensaje }}{% endautoescape %}</div>
			<form enctype="multipart/form-data" method="POST" action="">
				{% csrf_token %}

				<table>
					{% for field in form %}
					<tr>
						<td>{{ field.label_tag  }}</td>
						<td>{{ field.errors }}{{ field }}</td>

					</tr>
					{% endfor %}
				</table>
	
				<input type="submit" value="Aceptar" >
				<a class="btn" href="{% url 'lista_productos' %}">Regresar</a>
			</form>
		</td>
	</tr>
</table>
{% endblock %}