{% extends 'base.html' %}

{% block titulo %} Login {% endblock %}

{% block contenido %}
<h3>Carrito de compras en Django</h3>
<h3>Acceder</h3>

<div style="width:200px">{% autoescape off %}{{ mensaje }}{% endautoescape %}</div>
<form action="" method="POST">
	{% csrf_token %}
	<table>
		{% for field in form %}
		<tr>
			<td>{{ field.label }}</td>
			<td>{{ field.errors }}{{ field }}</td>
		</tr>
		{% endfor %}
		<tr>
			<td></td>
			<td><input type="submit" value="Acceder">
				<a class="btn" href="{% url 'registro_Cliente' %}">Registrarse</a>
			</td>
		</tr>
	</table>
	
</form>

{% endblock %}