{% extends 'base.html' %}

{% block titulo %} Registro {% endblock %}

{% block contenido %}
<h3>Carrito de compras en Django</h3>
<h3>Nuevo cliente</h3>

<div style="width:500px">{% autoescape off %}{{ mensaje }}{% endautoescape %}</div>
<form enctype="multipart/form-data" method="POST" action="">
	{% csrf_token %}
	<table>
		{% for field in form %}
		<tr>
			<td>{{ field.label }}</td>
			<td>{{ field.errors }}{{ field }}</td>
		</tr>
		{% endfor %}
		<tr>
			<td></td>
			<td><input type="submit" value="Aceptar" >
				<a class="btn" href="{% url 'login_cliente' %}">Regresar</a>
			</td>
		</tr>
	</table>
	
</form>


{% endblock %}