{% extends 'base.html' %}

{% block titulo %} Lista de productos {% endblock %}

{% block contenido %}
<h3>Carrito de compras en Django</h3>
<table>
	<tr>
		<td>
			{% include 'menu.html' %}
		</td>

	</tr>
	<tr>
		<td>
			{% include 'info_usuario.html' %}
		</td>
	</tr>
	<tr>
		<td>
			{% if compra %}
				<p><strong>Detalle de compras</strong></p>
				{% for com in compra %}
				<table class="gridtable">
					<thead>
					<tr>
					<th>
						Fecha
					</th>
					<th>Detalle de compra</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>{{ com.fecha }}</td>
						<td>
							<table class="gridtable">
								<thead>
									<th>Producto</th>
									<th>Cantidad</th>
									<th>Precio</th>
									<th>Total</th>
								</thead>
								<body>
							
								{% for item in com.detallecompra_set.all %}
									<tr>
										<td>{{ item.idproducto }}</td>
										<td>{{ item.cantidad }}</td>
										<td>{{ item.precio }}</td>
										<td>{% widthratio item.precio 1 item.cantidad %}</td>
									</tr>
									
			     				{% endfor %}
			     					
			     				
			            		</body>
							</table>
			        		
			        	</td>
					</tr>
					</tbody>
				</table>
				{% endfor %}
			{% endif %}	
		</td>
	</tr>
</table>

{% endblock %}