{% extends 'base.html' %}

{% block titulo %} Lista de productos {% endblock %}

{% block contenido %}
<h3>Carrito de compras en Django</h3>
<table>
	<tr>
		<td colspan="1">
			{% include 'menu.html' %}
		</td>

	</tr>
	<tr>
		<td colspan="2">
			{% include 'info_usuario.html' %}
		</td>
	</tr>
	<tr>
		<td>
			{% if results %}
			<p><strong>Lista de productos</strong></p>
			{% autoescape off %}{{ mensaje }}{% endautoescape %}
			<table class="gridtable">
				<tr>
					<th>Categoria</th>
					<th>Nombre</th>
					<th>Precio</th>
					<th>Stock</th>
					<th>Imagen</th>
					<th>Comprar</th>
					<th></th>
				</tr>
			{% for r in results %}
				<tr>
					<td>{{ r.categorias }}</td>
					<td>{{ r.nombre }}</td>
					<td>S/. {{ r.precio }}</td>
					<td>{{ r.stock }}</td>
					<td>

						{% if r.imagen %}
						<img src="{% url 'media' r.imagen %}" width="50px" height="50px">
						{% endif %}
					</td>

					<form action="{% url 'agregar_al_carrito' r.id %}" method="POST">
						{% csrf_token %}
					<td><input type="text" name="cantidad" size="10" value="1" autocomplete="off"></td>
					<td>
						<input type="submit" value="Agregar al carrito">
					</td>
					</form>
				</tr>
			{% endfor %}
			</table>
			{% endif %}
		</td>
		<td class="top">
			{% if carrito %}
			<p><strong>Mi carrito</strong></p>
			<table class="gridtable">
				<tr>
					<th>Nombre</th>
					<th>Stock</th>
					<th>Precio</th>
					<th>Comprar</th>
					<th>Total</th>
					<th></th>
				</tr>
			{% for c,v in carrito.items %}
			<tr style="color:{{ v.color }}">
				<td>{{ v.nombre }}</td>
				<td>{{ v.stock }}</td>
				<td>{{ v.precio }}</td>
				<td>{{ v.cantidad }}</td>
				<td>S/. {{ v.total }}</td>
				<td>

					<a href="{% url 'borrar_uno_carrito' c %}">Borrar del carrito</a></td>
			</tr>
			{% endfor %}
			<tr>
				<td colspan="4"></td>
				<td>S/. {{ suma }}</td>
				<td></td>
			</tr>
			</table>
			<div style="font-size:10px">
			Leyenda:<br>
			<span style="color:green">- El producto esta disponible</span><br>
			<span style="color:red">- El producto no tiene stock suficiente para la compra<br>(Posiblemente otro cliente hizo la compra antes que usted)</span>
			</div>
			<br>
			<a href="{% url 'guardar_compra' %}" class="btn">Guardar compra</a>
			{% endif %}
		</td>
	</tr>
</table>

{% endblock %}