	body {
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		font-size: 12px;
		color: #333;
	}
	input {
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		font-size: 12px;
		color: #666;
		border: solid 2px #CCC;
		padding: 4px 4px;
	}
	a{
		color:#377AD0;
	}
	a.btn{
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		font-size: 12px;
		color: #666;
		border: solid 2px #CCC;
		padding: 4px 4px;
		text-decoration: none;
		background-color: #F0F0F0;
	}
	table.gridtable {
		font-family: verdana,arial,sans-serif;
		font-size:11px;
		color:#333333;
		border-width: 1px;
		border-color: #666666;
		border-collapse: collapse;
	}
	table.gridtable th {
		border-width: 1px;
		padding: 8px;
		border-style: solid;
		border-color: #666666;
		background-color: #dedede;
	}
	table.gridtable td {
		border-width: 1px;
		padding: 8px;
		border-style: solid;
		border-color: #666666;
		background-color: #ffffff;
	}
	table td.top {
	  vertical-align: top;
	}
	table td.right {
	   text-align: right; 
	}
	.success, .error{
		border: 1px solid;
		padding:5px 5px 5px 5px;
	}
	.success {
		color: #4F8A10;
		background-color: #DFF2BF;
	}
	.error {
		color: #D8000C;
		background-color: #FFBABA;
	}
	ul.errorlist{
		color: #D8000C;
		padding: 0px;
		margin: 0px;
	}
	ul.errorlist li {
		display: inline;
		list-style-type: none;
	}
	#menu ul
	{
	    margin: 0px;
	    padding: 0px;
	    list-style-type: none;
	}

	#menu a
	{
	    display: block;
	    width: 8em;
	    color: white;
	    background-color: #666666;
	    text-decoration: none;
	    text-align: center;
	}

	#menu a:hover
	{
	    background-color: #888888;
	}

	#menu li
	{
	    float: left;
	    margin-right: 0.5em;
	}