<!DOCTYPE html>
<html>
<head>
	<title>{% block titulo %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/style.css">
</head>
<body>
	{% block contenido %}
	{% endblock %}
</body>
</html>
