<table width="100%" cellspacing="0" cellpadding="0">
	<tr>
		<td></td>
		<td class="right"><strong>Usuario:</strong> {{ cliente_cuenta }}<br><strong>Nombre:</strong> {{ cliente_nombre }}<br><a href="{% url 'logout_cliente' %}">Cerrar sesión</a></td>
		{% if cliente_imagen %}
		<td class="right" style="width:55px"><img width="50px" height="50px" src="{{ MEDIA_URL }}{{ cliente_imagen }}"></td>
		{% else %}
		<td></td>
		{% endif %}
	</tr>
</table>