<div id="menu">
    <ul>
        <li><a href="{% url 'lista_productos' %}">Productos</a></li>
        <li><a href="{% url 'mis_compras' %}">Mis compras</a></li>
        <li><a href="{% url 'editar_Cliente' %}">Editar cliente</a></li>
        <li><a href="{% url 'cambiar_clave' %}">Cambiar clave</a></li>
    </ul>
</div>